<div class="modal-header">
  <h4 class="modal-title" id="myModalLabel">Edit User</h4>
  <button type="button" class="close" data-dismiss="modal">x</button>
</div>

<div class="modal-body">
  <%= render partial: 'form', locals: { user: @user } %>
</div>
